[submodule "third_party/opencsd"]
	path = third_party/opencsd
	url = https://github.com/Linaro/OpenCSD.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
